

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/TutorialsLayout.cshtml";
}

@section Result{
    <div class="container-fluid text-center">
        <h1>Welcome to Reinforced.Lattice tutorial</h1>
        <p>Pick item at the left to begin</p>
    </div>
}
