body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.touched {
    -webkit-animation: pulse 2s forwards;
    -moz-animation: pulse 2s forwards;
    -ms-animation: pulse 2s forwards;
    -o-animation: pulse 2s forwards;
    animation: pulse 2s forwards;
}


@-moz-keyframes pulse {
   0% { background-color: orangered; }
  30% { background-color: #fff; }
  60% { background-color: #fff70f; }
  99% { background-color: #fff; }
  100% { background-color: transparent; }
}

@-webkit-keyframes pulse {
 0% { background-color: orangered; }
  30% { background-color: #fff; }
  60% { background-color: #fff70f; }
  99% { background-color: #fff; }
  100% { background-color: transparent; }
}

@keyframes pulse {
   0% { background-color: orangered; }
  30% { background-color: #fff; }
  60% { background-color: #fff70f; }
  99% { background-color: #fff; }
  100% { background-color: transparent; }
}