@using Reinforced.Lattice.DebugSink.Models.Tutorial
@using Reinforced.Lattice.Templates
@using Reinforced.Lattice.Templates.BuiltIn
@model Reinforced.Lattice.DebugSink.Models.AboutViewModel

@using (var v = this.LatticeAdditionalTemplates())
{
    using (var t = v.CellWrapper<Row>("strangeCell"))
    {
        <td>
           
        </td>
    }
}