@using Microsoft.Ajax.Utilities
@using PowerTables
@using PowerTables.CellTemplating
@using PowerTables.FrequentlyUsed
@using PowerTables.Mvc.Models
@using PowerTables.Mvc.Models.Tutorial
@using PowerTables.Templating
@using PowerTables.Templating.BuiltIn
@using PowerTables.Templating.Handlebars
@model PowerTables.Mvc.Models.AboutViewModel

@using (var v = this.LatticeAdditionalTemplates())
{
    using (var t = v.CellWrapper<Row>("strangeCell"))
    {
        <td>
            @t.Value(c=>c.DataObject[])
        </td>
    }
}