@using PowerTables.Mvc.Models.Tutorial
@using PowerTables.Templating
@using PowerTables.Templating.BuiltIn
@model PowerTables.Mvc.Models.AboutViewModel

@using (var v = this.LatticeAdditionalTemplates())
{
    using (var t = v.CellWrapper<Row>("strangeCell"))
    {
        <td>
           
        </td>
    }
}