@using PowerTables.Templating
@using PowerTables.Templating.BuiltIn
@using Reinforced.Lattice.DebugSink.Models.Tutorial
@model Reinforced.Lattice.DebugSink.Models.AboutViewModel

@using (var v = this.LatticeAdditionalTemplates())
{
    using (var t = v.CellWrapper<Row>("strangeCell"))
    {
        <td>
           
        </td>
    }
}