@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("HandleEnum", "Home"))
{
    <input type="text" name="enumValue.SampleEnum" />
    <input type="submit"/>
}

<div class="row">
    <div class="col-md-12">
        <div id="myTable">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Results: All
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">All</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">10</a>
                                </li>
                                <li>
                                    <a href="#">50</a>
                                </li>
                                <li>
                                    <a href="#">100</a>
                                </li>
                            </ul>
                        </div>
                        <span class="badge"><span class="glyphicon glyphicon-refresh"></span>Loading</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span> Add new
                            </button>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span> Remove selected
                            </button>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-th"></span> Export excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <hr />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="table table-striped table-condensed table-bordered">
                            <thead style="display: table-header-group;">
                                <tr>
                                    <th>
                                        Select
                                    </th>
                                    <th>
                                        Number field
                                    </th>
                                    <th>Range number</th>
                                    <th>Link field</th>
                                    <th>Date field</th>
                                    <th>Select field</th>
                                    <th>Multiple select field</th>
                                </tr>
                                <tr>
                                    <th>
                                        <input type="checkbox" />
                                    </th>
                                    <th>
                                        <input type="text" class="form-control input-sm">
                                    </th>
                                    <th>
                                        <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="From">
                                        <br />
                                        <input type="password" class="form-control input-sm" placeholder="To">
                                    </th>
                                    <th></th>
                                    <th>
                                        <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="From">
                                        <br />
                                        <input type="password" class="form-control input-sm" placeholder="To">
                                    </th>
                                    <th>
                                        <select class="form-control input-sm">
                                            <option>Select opt 1</option>
                                            <option>Select opt 2</option>
                                            <option>Select opt 3</option>
                                        </select>
                                    </th>
                                    <th>
                                        <select class="form-control input-sm" multiple="multiple">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>123456</td>
                                    <td>741258</td>
                                    <td>
                                        <a href="#">Some probably long link</a>
                                    </td>
                                    <td>12 jun 2014</td>
                                    <td>Juan Carlos Pereiro</td>
                                    <td>Solved</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>123456</td>
                                    <td>741258</td>
                                    <td>
                                        <a href="#">Some probably long link</a>
                                    </td>
                                    <td>12 jun 2014</td>
                                    <td>Juan Carlos Pereiro</td>
                                    <td>Solved</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>123456</td>
                                    <td>741258</td>
                                    <td>
                                        <a href="#">Some probably long link</a>
                                    </td>
                                    <td>12 jun 2014</td>
                                    <td>Juan Carlos Pereiro</td>
                                    <td>Solved</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>123456</td>
                                    <td>741258</td>
                                    <td>
                                        <a href="#">Some probably long link</a>
                                    </td>
                                    <td>12 jun 2014</td>
                                    <td>Juan Carlos Pereiro</td>
                                    <td>Solved</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>123456</td>
                                    <td>741258</td>
                                    <td>
                                        <a href="#">Some probably long link</a>
                                    </td>
                                    <td>12 jun 2014</td>
                                    <td>Juan Carlos Pereiro</td>
                                    <td>Solved</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>123456</td>
                                    <td>741258</td>
                                    <td>
                                        <a href="#">Some probably long link</a>
                                    </td>
                                    <td>12 jun 2014</td>
                                    <td>Juan Carlos Pereiro</td>
                                    <td>Solved</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p>Shown 5 records from 1098</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                        <ul class="pagination">
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li class="active">
                                <a href="#">1 <span class="sr-only">(current)</span></a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>