@using PowerTables
@using PowerTables.Configuration
@model PowerTables.Configuration.Configurator<PowerTables.Mvc.Models.Tutorial.Toy, PowerTables.Mvc.Models.Tutorial.Row>
@{
    Layout = "~/Views/Shared/TutorialsLayout.cshtml";
}

@section Result{
    <div class="container-fluid">
        <br/>
        <div id="mytable"></div>
    </div>
}

@section Scripts {
    @{ Html.RenderDefaultTemplates(); }

    @Model.InitializationScript("mytable", "window.$$table")
}
