@using PowerTables
@using PowerTables.Configuration
@model PowerTables.Configuration.Configurator<PowerTables.Mvc.Models.SourceData, PowerTables.Mvc.Models.TargetData>
@{
    ViewBag.Title = "Projections, Titles and DataOnly";
    Layout = "~/Views/Shared/TutorialsLayout.cshtml";
}
<h2>Projections, Titles and DataOnly</h2>
@section Result{
    <div class="container-fluid">
        <div id="mytable"></div>
    </div>
}


@section Code
{
public static Configurator&lt;SourceData, TargetData&gt; ProjectionTitlesAndDataOnly(this Configurator&lt;SourceData, TargetData&gt; conf)
{
    conf.Basic();
    conf.ProjectDataWith(c => c.Select(q => new TargetData()
    {
        Cost = q.Cost,
        CurrentDate = q.CurrentDate,
        EnumValue = (SomeEnum)q.GroupType,
        GroupName = q.VeryName,
        IcloudLock = q.IcloudLock,
        Id = q.Id,
        ItemsCount = q.ItemsCount,
        NullableDate = q.NullableDate,
        NullableValue = q.NullableValue.GetValueOrDefault(0)
    }));
    conf.Column(c => c.IcloudLock).Title("iCloud Lock");
    conf.Column(c => c.ItemsCount).Title("Items count");
    conf.Column(c => c.SomethingDataOnly).DataOnly();
    conf.Column(c => c.BehindProperty).Title("Behind");

    return conf;
}
}

@section Scripts {
    @{ Html.RenderDefaultTemplates(); }

    @Model.InitializationScript("mytable", "window.$$table")
}
